# Miscellaneous
*.class
*.log
*.pyc
*.swp
*.ipa
*.lock
*.zip
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / IDEA related
*.iml
*.ipr
*.iws
.idea/

# Flutter / Dart / Pub related
**/doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
.lock/
/build/

# FVM SDK (оставляем только конфиг)
.fvm/flutter_sdk/
!.fvm/fvm_config.json

# Generated code
lib/generated/**

# Web related

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
!android/gradlew
!android/gradlew.bat
!android/gradle/wrapper/gradle-wrapper.jar

# iOS / Android fastlane reports
/ios/fastlane/report.xml
/ios/Flutter/.last_build_id
/android/fastlane/report.xml

# Quality report
code-quality-report.json
